.about{
    width: 100%;
    height: auto;
    background-color: cadetblue;
    padding: 100px 80px;
}
.about-title{
    text-align: center;
}
.about-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.about-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 500px;
}
.about-img-cover{
    width: 300px;
    height: 300px;
}
.about-img-cover img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.about-details{
    width: 50%;
}
.about-details h3{
    margin-bottom: 10px;
}
.about-para{
    text-align: justify;
    font-size: 13px;
}

.about-boxes{
    display: flex;
    gap: 10px;
    margin: 20px 0;
}
.about-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 250px;
    height: 70px;
    background-color: #fff;
    border-radius: 10px;
}
.about-box h2{
    font-size: 30px;
    margin-left: 10px;
    font-weight: 600;
}
.about-box p{
    width: 105px;
    font-size: 14px;
}

.about-buttons button{
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    margin-right: 10px;
}